# Kaggle / data
/input/
/data/

# Outputs
/outputs/*.npy
/outputs/*.pkl
/outputs/*.joblib
/outputs/submission*.csv
/outputs/summary_tables/*.npy

# Prediction / submission files
*.npy
submission*.csv

# Model files
*.pkl
*.joblib
*.model
*.bin

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# OS
.DS_Store